.button_style{
    padding: 0px;
}
.control_buttons{
    padding: 5px;
    border: solid;
    border-bottom: solid;   
    border-color: rgb(95, 93, 100);
    border-bottom-color: rgb(2, 2, 2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(55, 53, 60);

}
p{
    margin: 0px;
}
#title{
    width: 1px; 
    white-space: nowrap;
}
.input_field{
    margin-top: 5px;
}
table{
    width: 100%;
}
#userInput{
    width: 99%;
}
body{
    background-color: rgb(30, 30, 30);
    padding: 0px;
    margin: 0px;
    color: white; 
    font-family: Menlo, Consolas, sans-serif;

}
.cmd_font{
    color: white; 
    font-family: Menlo, Consolas, sans-serif;
}
input{
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
}

.left{
    padding-left: 3px;
    padding-top: 3px;
}
.lower_container{
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 10px;
}
.lower_button{
    margin: 5px;
    padding: 5px;
    flex:1;
    border:solid;
    border-color: white;
    border-radius: 5%;
    background-color: white;
    color:rgb(55, 53, 60);
}
.remove_underline{
    text-decoration: none;
}