.titles{
    /*color: #000ebd;*/
    color: #4775AD;
}

.black_font{
    color: #000000;
    font-weight: 800;
}
.center{
    text-align: center;
}
.connect_style{
    display: inline
}
.resume_body{
    margin: auto;
    width: 50%;
}
.image_set {
    float: left;
    object-fit: cover;
    padding: 1%;
    width:  250px;
    height: 250px;
}
.main_img {
 
    object-fit: cover;
    padding: 1%;

    border-radius: 10%;
}
.bin{
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.item {
    padding:1%;
    text-align: center;
    display:inline-block;
    margin:0 auto;
    
}
.navigation{
    list-style-type: none;
    display: inline;
    font-size: 22px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif
 
}
nav{
    padding: 10px;
    
    background-color: rgb(173, 173, 174);
    box-shadow: 1px 1px 1px 1px;
}
a{
    text-decoration: none;
    padding: 10px;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(153, 153, 154);
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }

  h2, h3, h1, h4, p {
    margin: 8px;
  }
 